/*Write your Custom Css here*/
#nprogress .bar {
    background: #f4505d !important;
}

#nprogress .spinner-icon {
    border-top-color: #f4505d !important;
    border-left-color: #f4505d !important;
}
input[class="form-control"] {
	border-radius: 35px !important;
	background: #ccc;
}
/*Placeholder*/
.form-control::-webkit-input-placeholder { color: #2A3F54; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #2A3F54; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #2A3F54; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #2A3F54; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #2A3F54; }
.form-control::placeholder { color: #2A3F54;}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.nav-md .container.body .right_col {
    padding: 50px 20px 0 !important;
    margin-left: 230px;
}